body {
    text-align: center;
    background: rgba(7, 7, 12, 0.8);
}

 #btn {
    cursor: pointer;
}

dialog {
    width: 240px;
    height: auto;
    border: #ffffff;
    position: absolute;
    background: #FFF;
    margin-top: 200px;
}

button {
    background: #0ff;
    padding: 10px 10px;
}